/*adding own custom font*/
@font-face { 
    font-family: myFont;
    src: url('chap03/Purisa.ttf');
}

/* using multiple selectors*/
p, h1, h2 {
  color: green;
}

ol { list-style-type: lower-roman; }

p {
  font-weight: bold;
  text-shadow: -2px 5px gray;
}

p {
  text-decoration: underline;
}

blockquote { text-align: justify; }
h2 { text-align: center; }